<?xml version="1.0" ?>
<model>
    <name>orchard</name>
    <version>1.0</version>
    <sdf version="1.6">orchard.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description> World representing a orchard in which simulate autonomous drive robot</description>
</model>
